<!DOCTYPE html>
<html>
<head>
  <title>Sampleprogress</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>
	<%= link_to "Profile", current_user %>
	
	
	<%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
	<% else %>
	<%= link_to "Sign in", new_user_session_path %>

	
	<% end %>
 <% flash.each do |key, value| %>
   <%= value %>
    <% end %>
    <%= yield %>
<%= debug(params) %>
</body>
</html>
